h3 {
	text-align: center;
}
td {
	border: 1px solid black;
	padding: 20px;
}
table {
	border: 2px solid black;
	margin: 0 auto;
	padding-right: 35px;
	padding-bottom: 35px;
}
td:hover {
	background-color: cyan;
	cursor: crosshair;
}
.ship {
	background-color: darkblue;
}
.hit,
.hit:hover {
	background-color: green;
}
.miss,
.miss:hover {
	background-color: red;
}
.won {
	color: red;
}
.hit,
.miss,
.won {
	pointer-events: none;
}
.play-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.wait {
	pointer-events: none;
	border: 1px solid rgba(0, 0, 0, 0.33);
}
.coordinates,
.coordinates:hover {
	border: none;
	padding: 10px;
	background-color: white;
	cursor: default;
}
