h1 {
	text-align: center;
	padding-top: 21px;
}
td {
	border: 1px solid black;
	padding: 20px;
}
table {
	border: 2px solid black;
	margin: 0 auto;
	padding-right: 35px;
	padding-bottom: 35px;
}
td:hover {
	background-color: cyan;
	cursor: crosshair;
}
.ship {
	background-color: darkblue;
}
.hit,
.hit:hover {
	background-color: green;
}
.miss,
.miss:hover {
	background-color: red;
}
.won {
	color: red;
}
.hit,
.miss,
.won {
	pointer-events: none;
}
.play-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 21px 0px 0px 0px;
}
.wait {
	pointer-events: none;
	border: 1px solid rgba(0, 0, 0, 0.33);
}
.coordinates,
.coordinates:hover {
	border: none;
	padding: 10px;
	background-color: white;
	cursor: default;
}
.computer-board {
	font-size: small;
	color: rgba(0, 0, 0, 0.72);
	width: 100%;
	height: 50%;
	border: 2px solid rgba(0, 0, 0, 0.72);
	padding-bottom: 16px;
	padding-right: 18px;
}
.computer-board td {
	border: 1px solid rgba(0, 0, 0, 0.72);
	padding: 0px;
	pointer-events: none;
}
.computer-board .ship,
.computer-board .ship:hover {
	background-color: rgba(0, 0, 139, 0.5);
}
.computer-board .hit,
.computer-board .hit:hover {
	background-color: rgba(0, 128, 0, 0.5);
}
.computer-board .miss,
.computer-board .miss:hover {
	background-color: rgba(255, 0, 0, 0.5);
}

.computer-board .coordinates,
.computer-board .coordinates:hover {
	padding: 2px;
	width: 18px;
	border: none;
	background-color: white;
	cursor: default;
}
.board {
	padding-left: 50px;
}
.place-board td:hover {
	background-color: white;
	cursor: default;
}
.place-board .ship:hover {
	background-color: darkblue;
}
table.place-ships {
	border: none;
	padding: 0px;
	display: inline-table;
}
.place-ships td,
.place-ships td:hover {
	background-color: darkblue;
	cursor: pointer;
	border: 1px solid black;
}
.invisible {
	display: none;
}
.ship-box {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}
.ship-box table {
	margin: 10px 0px;
}
.ship-container {
	height: 500px;
	width: 500px;
}
.place-area {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.no-drag .ship,
.no-drag .ship:hover {
	background-color: rgba(0, 0, 139, 0.5);
	cursor: default;
}
