body {
	margin: 0;
	font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
	background-color: rgba(3, 4, 94, 0.96);
	color: white;
}
h1 {
	text-align: center;
	padding-top: 21px;
}
td {
	border: 1px solid white;
	padding: 20px;
}
table {
	border: 2px solid white;
	margin: 0 auto;
	padding-right: 35px;
	padding-bottom: 35px;
}
td:hover {
	cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>")
			16 0,
		auto; /*!emojicursor.app
			cursor: crosshair;*/
	background-color: rgba(0, 255, 255, 0.32);
}
.ship {
	background-color: blue;
}
.hit,
.hit:hover {
	background-color: rgb(0, 100, 0);
}
.miss,
.miss:hover {
	background-color: rgb(164, 22, 26);
}
.won {
	color: rgb(164, 22, 26);
}
.hit,
.miss,
.won {
	pointer-events: none;
}
.play-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 21px 0px 0px 0px;
}
.wait {
	pointer-events: none;
	border: 1px solid rgba(255, 255, 255, 0.55);
}
.coordinates,
.coordinates:hover {
	border: none;
	background-color: rgba(3, 4, 94, 0.96);
	padding: 10px;
	cursor: default;
}
.computer-board {
	font-size: small;
	width: 100%;
	height: 40%;
	border: 2px solid rgba(255, 255, 255, 0.65);
	padding-bottom: 16px;
	padding-right: 18px;
}
.computer-board td {
	border: 1px solid rgba(255, 255, 255, 0.65);
	padding: 0px;
	pointer-events: none;
}
.computer-board .ship,
.computer-board .ship:hover {
	background-color: rgba(0, 0, 255, 0.93);
}
.computer-board .hit,
.computer-board .hit:hover {
	background-color: rgb(0, 100, 0);
}
.computer-board .miss,
.computer-board .miss:hover {
	background-color: rgb(164, 22, 26);
}

.computer-board .coordinates,
.computer-board .coordinates:hover {
	padding: 2px;
	width: 18px;
	border: none;
	background-color: rgba(3, 4, 94, 0.96);
	cursor: default;
}
.board {
	padding-left: 50px;
}
.place-board td:hover {
	background-color: rgba(3, 4, 94, 0);
	cursor: default;
}
.place-board .ship:hover {
	background-color: blue;
}
table.place-ships {
	border: none;
	padding: 0px;
	display: inline-table;
}
.place-ships td,
.place-ships td:hover {
	background-color: blue;
	cursor: pointer;
	border: 1px solid white;
}
.invisible {
	display: none;
}
.ship-box {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}
.ship-box table {
	margin: 10px 0px;
}
.ship-container {
	height: 500px;
	width: 500px;
	margin-left: 3vw;
	margin-top: 15px;
}
.place-area {
	display: flex;
	justify-content: center;
	align-items: baseline;
}
.no-drag .ship,
.no-drag .ship:hover {
	background-color: rgba(100, 100, 255, 0.9);
	cursor: default;
}
.name-container {
	height: 110px;
	background-color: rgb(59, 136, 195);
	padding: 25px 25px 25px 75px;
	color: rgba(0, 0, 255, 0.8);
}
.name {
	font-size: 24px;
	margin: 10px 0px;
}
.name-input {
	font-size: 30px;
	border: none;
	outline: none;
	margin-left: 4vw;
	background-color: rgba(255, 0, 0, 0.25);
	color: rgb(0, 0, 175);
}
.name-input:hover {
	border-bottom: 2px solid blue;
}
.name-input:focus-visible {
	border-bottom: 2px solid blue;
}
.name-container .but {
	color: rgba(255, 0, 0, 0.25);
	font-size: 35px;
	padding: 10px;
}
.name-container .but:hover {
	color: blue;
	cursor: pointer;
	padding: 20px;
}
.remove-name-container {
	animation-name: remove-banner;
	animation-duration: 1s;
}
@keyframes remove-banner {
	from {
		position: relative;
		left: 0px;
	}
	to {
		position: relative;
		left: 100%;
		background-color: rgba(255, 255, 255, 0);
	}
}
.btn-area {
	padding: 20px;
	margin-left: -40px;
}
.btn {
	display: inline-block;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	text-align: center;
	padding: 9px;
	margin: 20px;
	background-color: rgba(230, 57, 71, 0.85);
	font-size: 18px;
	outline: none;
	border-radius: 4%;
	box-shadow: 2px -1px 0px gray;
}
.btn:hover {
	background-color: rgb(230, 57, 71);
}
.btn:active {
	box-shadow: 0px 0px 5px black;
	transform: scale(0.95);
}
.play-btn {
	background-color: rgba(25, 200, 25, 0.85);
}
.play-btn:hover {
	background-color: rgb(25, 200, 25);
}
button:disabled:hover,
button[disabled] {
	transform: scale(1);
	background-color: rgba(25, 200, 25, 0.8);
	border: 1px solid gray;
	color: grey;
	padding: 10px;
	box-shadow: 1px -1px 0px gray;
	cursor: default;
}
.rotate {
	padding: 9px;
	cursor: pointer;
	font-size: 30px;
	margin-bottom: 10px;
	background-color: rgb(59, 136, 195);
	border-radius: 5%;
}
.rotate:hover {
	box-shadow: 0px 0px 10px gray;
	animation: rotate-ani 1.5s;
}
.rotate:active {
	box-shadow: 0px 0px 0px black;
	transform: scale(0.9);
}
@keyframes rotate-ani {
	50% {
		transform: rotate(0.25turn);
	}
}
.move-up {
	animation: up 1s ease;
}
@keyframes up {
	100% {
		transform: translate(0px, -160px);
	}
}
.ftr {
	text-align: center;
	height: 100px;
}
img {
	height: 25px;
	position: relative;
	top: 5px;
}
a,
a:hover,
a:visited {
	color: inherit;
	text-decoration: none;
}
.info {
	font-size: 30px;
	position: relative;
	left: 90vw;
	top: -75vh;
	width: max-content;
}
.rule {
	width: 70vw;
	margin: 0px auto;
}
.rule p {
	padding: 0px 25px;
}
.rule h2 {
	color: #ffbe0b;
}
